<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center sticky-top" style="background-color: #2c3432">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a class="text-white nav-link scrollto active" href="">
          <img src="assets/images/logo-2.png" alt="" class="img-fluid">
          <span class="text-white">Shelter Consult</span>
        </a>
      </h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <a class="text-white nav-link scrollto" href="services.html">Services</a>
        <a class="text-white nav-link scrollto" href="team.html">The Team</a>
        <a class="text-white nav-link scrollto" href="about.html">About SC</a>
        <a class="text-white nav-link scrollto" href="gallery.html">Gallery</a>
        <a class="text-white nav-link scrollto" href="contact.html">Contact</a>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->