<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div
        id="heroCarousel"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
        data-bs-interval="5000"
    >
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-background slide-1"></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">
                Welcome to <span>Shelter Consult</span>
              </h2>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-background slide-2"></div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-background slide-3"></div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
          <div class="carousel-background slide-4"></div>
        </div>

        <!-- Slide 5 -->
        <div class="carousel-item">
          <div class="carousel-background slide-5"></div>
        </div>

        <!-- Slide 6 -->
        <div class="carousel-item">
          <div class="carousel-background slide-6"></div>
        </div>

        <!-- Slide 7 -->
        <div class="carousel-item">
          <div class="carousel-background slide-7"></div>
        </div>

        <!-- Slide 8 -->
        <div class="carousel-item">
          <div class="carousel-background slide-8"></div>
        </div>

        <!-- Slide 9 -->
        <div class="carousel-item">
          <div class="carousel-background slide-9"></div>
        </div>
      </div>

      <a
          class="carousel-control-prev"
          href="#heroCarousel"
          role="button"
          data-bs-slide="prev"
      >
          <span
              class="carousel-control-prev-icon bi bi-chevron-double-left"
              aria-hidden="true"
          ></span>
      </a>

      <a
          class="carousel-control-next"
          href="#heroCarousel"
          role="button"
          data-bs-slide="next"
      >
          <span
              class="carousel-control-next-icon bi bi-chevron-double-right"
              aria-hidden="true"
          ></span>
      </a>
    </div>
  </div>
</section>
<!-- End Hero -->