.slide-1 {
  background-image: url("../images/14-2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-2 {
  background-image: url("../images/1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-3 {
  background-image: url("../images/31.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-4 {
  background-image: url("../images/18-1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-5 {
  background-image: url("../images/30.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-6 {
  background-image: url("../images/32.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-7 {
  background-image: url("../images/20.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-8 {
  background-image: url("../images/22-2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-9 {
  background-image: url("../images/19-1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-justify {
  text-align: justify;
}

.accordion-list img {
  width: 25px;
  margin-right: 10px;
  margin-left: 20px;
}

.info-box .img{
  background-image: url("../images/arch.jpg");
}